.ResultPage{
  background-color: #be3827;
  width: 100%;
  height: 100vh;
  background: top right #efefef no-repeat;
  background-size: cover;
  // background-image url로 불러오는건, styled-component로 안되서 scss파일 만드어서 여기서 넣엇다
  background-image: url("../../img/detail/bg-nologo.png");
  overflow: hidden;
  padding-top: 6.25rem;
  .prographyLogo{
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 100px;
  }
  a{
    &.ResultsPageHeaderStyle{
      background-color: rgba(0,0,0,0.3);
      font-size: 0.875rem;
      font-weight: bold;
      padding: 0.5rem 2rem 0.5rem 1.5rem;
      position: absolute;
      top: 1.375rem;
      left: 1.875rem;
      border-radius: 100px;
      transition: 0.2s;
      color: white !important;
      text-decoration: none !important;
      display: flex;
      align-items: center;
      @media (max-width: 479px) {
        padding: 0;
        width: 36px;
        height: 36px;
        justify-content: center;
        left: 1.375rem;
        i{
          margin-right: 0 !important;
        }
      }
      &:hover{
        background-color: rgba(0,0,0,0.4);
      }
      i{
        margin-right: 16px;
      }
    }
  }
}