.SelectPage{
  background-color: #be3827;
  width: 100%;
  height: 100vh;
  background: top right #efefef no-repeat;
  background-size: cover;
  background-image: url("../../img/select/bg.png");
  overflow: hidden;
  padding-top: 100px;
}