.scale-up{
  animation: scale-up 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-tr {
  animation: scale-up-tr 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-hor-right {
  animation: scale-up-hor-right 0.15s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.flip-vertical-right {
	animation: flip-vertical-right 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.flip-vertical-left {
	animation: flip-vertical-left 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.scale-up-top {
	animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-out-hor-left {
	animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@keyframes scale-up {
  0% {
    transform: scale(0.98);
    transform-origin: 50% 50%;
  }
  50% {
    transform: scale(1.005);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}

@keyframes scale-up-tr {
  0% {
    transform: scale(0.8);
    transform-origin: 100% 0%;
  }
  50% {
    transform: scale(1.05);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}

@keyframes flip-vertical-right {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-left {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes scale-up-top {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}

@keyframes scale-out-hor-left {
  0% {
    transform-origin: 0 0;
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}




@keyframes bounce-top {
  0% {
    transform: translateY(-40px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
